{% extends 'layout.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-5"><h3>Déposer un avis</h3></div>
        </div>

        <div class="row">
            <div class="col-lg-6">
               <div class="panel">
                   <div class="panel-body" style="overflow-y: auto; height: 600px;">
                       <div class="form-group">
                           <label for="">Rechercher un restaurant</label>
                           <input type="text" name="search" id="inputSearch" class="form-control">
                       </div>
                       <br>
                       <table class="table">
                           <thead>
                           <tr>
                               <th>Nom</th>
                               <th>Ville</th>
                               <th>Cuisine</th>
                               <th></th>
                           </tr>
                           </thead>
                           <tbody id="body">

                           </tbody>

                       </table>
                   </div>
               </div>
            </div>
            <div class="col-offset-lg-2 col-lg-4">
               <div class="panel">
                   <div class="panel-body">
                       <form id="formNotation" method="POST" action="/comments/add" class="form" style="display: none">
                           <h2>Ajouter une note</h2>
                           <div class="form-group">
                               <label for="">Note</label>
                               <select name="rate" class="form-control" id="">
                                   <option value="1">1</option>
                                   <option value="2">2</option>
                                   <option value="3">3</option>
                                   <option value="4">4</option>
                                   <option value="5">5</option>
                               </select>
                           </div>
                           <div class="form-group">
                               <label for="">Commentaire</label>
                               <textarea name="message" class="form-control"></textarea>
                           </div>
                           <input type="hidden" name="restaurant_id" id="ref">
                           <div class="form-group">
                               <button type="submit" class="btn btn-primary">Soumettre</button>
                           </div>
                       </form>
                   </div>
               </div>
            </div>
        </div>
    </div>
{% endblock %}