{% extends 'layout.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="" method="POST" class="form">
                    <div class="form-group">
                        <label for="">Nouveau mot de passe</label>
                        <input type="text" class="form-control" name="password">
                    </div>
                    <div class="form-group">
                        <label for="">Confirmer</label>
                        <input type="text" class="form-control" name="confirm">
                    </div>
                    <input type="hidden" class="form-control" name="email" value="{{email}}">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Réinialiser</button>
                    </div>
                </form>
            </div>
        </div>

   </div>
{% endblock %}
